@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: black;
  font-family: "Bodoni Moda", serif;
  font-weight: 500;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}
#logo {
  margin-left: 30px;
  height: 10vh;
}
.nav-center {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-right {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 8px;
  transition: 0.3s ease;
}
nav a:hover {
  background-color: black;
  color: white;
  border-radius: 4px;
  transform: scale(1.1);
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main img {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-content {
  z-index: 1;
  text-align: left;
  position: absolute;
  width: 100%;
  margin: 140px 60px;
}
#hero-txt {
  font-size: 100px;
  line-height: 1;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.013);
  color: aliceblue;
}
.hero-content p {
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.hero-content button {
  padding: 30px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}
.hero-content button:hover {
  background-color: rgba(255, 255, 255, 0.437);
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

.grid-container,
.grid-container-alt {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.grid-item {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: white;
  transition: all 0.5s ease-in;
}

.grid-item:hover {
  opacity: 0.7;
  transform: scale(0.88);
  cursor: pointer;
}

.grid-container .grid-item:nth-of-type(1) {
  grid-column: 1 / 3;
}
.grid-container .grid-item:nth-of-type(6) {
  grid-column: 3 / 5;
}
.grid-container .grid-item:nth-of-type(7) {
  grid-column: 1 / 3;
}

.bg1 {
  background-image: url("https://images.pexels.com/photos/2385477/pexels-photo-2385477.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg2 {
  background-image: url("https://images.pexels.com/photos/26587838/pexels-photo-26587838/free-photo-of-brown-leather-plain-toe-oxford-shoes.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg3 {
  background-image: url("https://imgs.search.brave.com/S_BB47VW5laG_1hWtoYZGEZk1wHQ9Z9kUSf_ipiG9JI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzEy/NTcvMTY4Ny9maWxl/cy9EZXJieV9TaG9l/Xy1fQ29iYmxlcl9V/bmlvbi5qcGc_dj0x/NjcyMTYzNjQ4");
}
.bg4 {
  background-image: url("https://images.pexels.com/photos/16417513/pexels-photo-16417513/free-photo-of-flip-flops-lying-in-clear-coastal-water.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg5 {
  background-image: url("https://images.pexels.com/photos/267242/pexels-photo-267242.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg6 {
  background-image: url("https://images.pexels.com/photos/5310883/pexels-photo-5310883.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg7 {
  background-image: url("https://images.pexels.com/photos/3682292/pexels-photo-3682292.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg8 {
  background-image: url("https://images.pexels.com/photos/30229934/pexels-photo-30229934/free-photo-of-stylish-grey-hiking-boots-on-display.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg9 {
  background-image: url("https://images.pexels.com/photos/29494036/pexels-photo-29494036/free-photo-of-patriotic-cowboy-boots-with-american-flags.jpeg?auto=compress&cs=tinysrgb&w=1200");
}

.grid-container-alt .grid-item:nth-of-type(2) {
  grid-column: 2 / 5;
}
.grid-container-alt .grid-item:nth-of-type(3) {
  grid-column: 1 / 3;
}
.grid-container-alt .grid-item:nth-of-type(4) {
  grid-column: 3 / 5;
}
.grid-container-alt .grid-item:nth-of-type(5) {
  grid-column: 1 / 5;
}
.bg1m {
  background-image: url("https://images.pexels.com/photos/9558246/pexels-photo-9558246.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg2m {
  background-image: url("https://images.pexels.com/photos/16259519/pexels-photo-16259519/free-photo-of-a-woman-in-a-dress-and-high-heels-standing-next-to-a-classic-car.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg3m {
  background-image: url("https://images.pexels.com/photos/16259491/pexels-photo-16259491/free-photo-of-a-woman-sitting-on-top-of-an-orange-mustang.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg4m {
  background-image: url("https://images.pexels.com/photos/13634600/pexels-photo-13634600.jpeg?auto=compress&cs=tinysrgb&w=1200");
}

.bg5f {
  background-image: url("https://images.pexels.com/photos/16170/pexels-photo.jpg");
}
.bg6f {
  background-image: url("https://images.pexels.com/photos/2907034/pexels-photo-2907034.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg7f {
  background-image: url("https://images.pexels.com/photos/3998098/pexels-photo-3998098.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg8f {
  background-image: url("https://images.pexels.com/photos/3178767/pexels-photo-3178767.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.bg9f {
  background-image: url("https://images.pexels.com/photos/265722/pexels-photo-265722.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
.section-title {
  margin-top: 60px;
}
footer {
  background-color: black;
  display: flex;
  color: white;
  padding: 40px;
  justify-content: space-evenly;
}
.f1 {
  padding: 40px 120px;
}
.f1 img {
  height: 10vh;
}
.f1_content {
  padding: 30px 8px;
}
.f1_logos {
  display: flex;
}
.f1_lg_1 img {
  height: 8vh;
  padding: 8px;
  justify-content: space-between;
  width: 80%;
}

.f1_lg_1 a {
  padding: 40px 0px;
}
.f2 {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding-top: 36px;
  padding-bottom: 30px;
}
.f2 ul li {
  list-style: none;
  padding: 14px;
  font-size: 16px;
}
.f2 a {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
}
.f2 a:hover {
  color: black;
  background-color: white;
}
.company h1 {
  padding-bottom: 30px;
}
.Support h1 {
  padding-bottom: 30px;
}
.Stay_up h1 {
  padding: 30px;
  text-align: left;
}
.Stay_up input {
  padding: 28px;
  border-radius: 18px;
  width: 90%;
  color: rgb(0, 0, 0);
  background-color: white;
  border: none;
}
input::img {
  padding-left: 2px;
}
input[placeholder] {
  color: rgb(0, 0, 0);
  font-size: 14px;
}
input::placeholder {
  color: rgb(0, 0, 0);
}
.regbutn1 img {
  padding-left: 8.8px;
  height: 1.2vh;
}
